html {
    box-sizing: border-box;
    font-family: Verdana;
  }

*,
*:before,
*:after {
  box-sizing: inherit;
}

.navbar{
    position:fixed;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    top:0;
    height:9vh;
    width: 100%;
    background-color: #FFFFFF;
    padding: 1.5vh 6vw 1.5vh 6vw;
  }

.navbar__title{
    display:flex;
    width:30%;
    color:#335576;
  }

  .navbar__panel{
    display:flex;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
  }

.navbar__link{
    display:flexbox;
    text-align: center;
    text-decoration:none;
    color:black;
    padding:1rem;
  }

.navbar__link--active{
    height:100%;
    text-decoration:none;
    text-align: center;
    color:black;
    border-bottom: 3px solid #DB7A4E;
    padding:1rem;

 }

 .footer{
    display:flex;
    justify-content:center;
    height:20vh;
    background-color: #FEFAF5;
    padding:5vh 11vw 5vh 11vw; 

}

.contact{
    width:25%;

}

.contact__panel{
    display:flex;
    flex-direction:column;
}

.hours{
    width:50%;
}

.footer__days{
    display:flex;
    width:100%;
}

.footer__hours{
    display:flex;
    font-size: 0.8rem;
    justify-content:flex-start;
}
.footer__subtitle{
    color:#DB7A4E;
    width:30%;
    font-size:0.7rem;
    font-weight: 400;
    display:flex;
    justify-content:space-between;

}

.footer__parag{
    margin:0;
    font-size:0.6rem;
}

.socialmedia{
    width:25%;
    height:100%;
}

.socialmedia__icons{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;

}

.socialmedia__icon{
    height:2rem;
    display:flex;
    margin:0.4rem;
}
 